/* seletor universal - reset do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: color image repeat position/size*/
  background-image: url("./assets/bg-desktop.jpg");
}

#container {
  width: 360px;
  border: 1px solid palevioletred;
  margin: 56px auto 0px;

}

body * {
  font-family: "Inter", sans-serif;
  color: white;
}

/*para deixar tags img e p no centro */
#profile {
  text-align: center;
  padding: 24px;
}
/* img é elemento inline por isso não se aplica margin auto */
#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500; /* BOLD - espessura */
  line-height: 24px; /* altura da linha */
  margin-top: 8px;
}
